#Minimal
global:
  rbac:
    create: true
    aggregateClusterRoles: true
  podSecurityPolicy:
    enabled: false
    useAppArmor: true
  leaderElection:
    namespace: "kube-system"

installCRDs: false

crds:
  enabled: true
  keep: true

replicaCount: 1

image:
  repository: quay.io/jetstack/cert-manager-controller
  pullPolicy: IfNotPresent

serviceAccount:
  create: true

nodeSelector:
  kubernetes.io/os: linux

approveSignerNames:
  - issuers.cert-manager.io/*
  - clusterissuers.cert-manager.io/*

webhook:
  replicaCount: 1
  image:
    repository: quay.io/jetstack/cert-manager-webhook
    pullPolicy: IfNotPresent
  serviceAccount:
    create: true
  nodeSelector:
    kubernetes.io/os: linux

cainjector:
  enabled: true
  replicaCount: 1
  image:
    repository: quay.io/jetstack/cert-manager-cainjector
    pullPolicy: IfNotPresent
  serviceAccount:
    create: true
  nodeSelector:
    kubernetes.io/os: linux

acmesolver:
  image:
    repository: quay.io/jetstack/cert-manager-acmesolver
    pullPolicy: IfNotPresent

startupapicheck:
  enabled: true
  image:
    repository: quay.io/jetstack/cert-manager-startupapicheck
    pullPolicy: IfNotPresent
  serviceAccount:
    create: true
  nodeSelector:
    kubernetes.io/os: linux

enabled: true
